* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #1c1c1c
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000000
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 5vh;
    background-color: rgb(0, 0, 0);
    z-index: 999;
}

nav .logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    align-self: left;
    letter-spacing: 5px;
    max-width: 153px;
}

.nav-links {
    display: inline-flex;
    justify-content: space-between;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.burger {
    display: none;
    cursor: pointer;
}

.button {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #000000;
    font-size: .9em;
    border-radius: 3px;
}

header {
    padding-top: 5vh;
    display: flex;
    min-height: 600px;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/recife.jpg"), linear-gradient(rgba(138, 138, 138, 0.94), rgb(34, 34, 34));
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.central-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(50%);
}

header img {
    border-radius: 50%;
    width: 150px;
}

header h1 {
    color: white;
    font-weight: 400;
    margin-bottom: 0.2em;
}

header p {
    margin-top: 0em;
    margin-bottom: 2em;
}

#personal-links {
    display: block;
    margin-top: 20px;
    margin-right: 4vh;
    margin-left: 4vh;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 0 0 1em grey;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    font-size: 12px;
    background-color: white;
    color: white;
}

.float-box {
    display: block;
    margin-top: 20px;
    height: auto;
    box-shadow: 0 0 1em grey;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 30px 30px;
    font-size: 12px;
    background-color: white;
    color: black;
}

.float-box p {
    font-size: 18px;
}

#white-boxes a:hover #float-box {
    box-shadow: 0 0 1em rgb(0, 0, 0);
}

#white-boxes {
    padding-bottom: 50px;
}

#white-boxes a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

#white-boxes h1 {
    text-align: center;
    font-weight: bold;
}

#white-boxes h2 {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

#white-boxes h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.grid-float-box {
    display: grid;
    position: relative;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px 2%;
    grid-template-areas:
        "pic details";
    width: 100%;
    height: 100%;
}

.pic {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 33vh;
    border-radius: 2%;
    background-color: rgb(0, 0, 0);
}

.pic img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 33vh;
    margin-bottom: 20px;
    border-radius: 2%;
    filter: grayscale();
    opacity: 0.5;
}

.details {
    grid-area: details;
    width: 100%;
}

.fa-github,
.fa-medium,
.fa-linkedin {
    color: rgb(0, 0, 0);
    font-size: 35px;
    padding: 8px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

#content h2 {
    margin-bottom: 20px;
}

.container {
    position: relative;
    max-width: 90%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 2%;
    margin: 0;
}

.image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 33vh;
    margin-bottom: 20px;
    border-radius: 2%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 2%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    transition: .5s ease;
    background-color: rgb(0, 0, 0)
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#contact {
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: space-around;
    padding-right: 5vh;
    padding-left: 5vh;
    text-align: center;
    padding: 20px;
}

#contact h2 {
    color: white;
}

.table-wrapper table {
    font-size: 18px;
    width: 100%;
}

tr {
    height: 50px;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.false-button {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    margin: 5px;
    background-color: #000000;
    font-size: 1.2em;
    border-radius: 3px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* START AUTO GENERATED CODE BY FORMSPREE*/
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: white;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
    font-size: .825rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    display: flex;
    align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    padding: .75em 1rem;
    margin-bottom: 1.5rem;
    color: black
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
    color: black
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
    width: 100%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
    outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    margin-bottom: 0;
}

#fs-frm select {
    text-transform: none;
}

#fs-frm [type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
    display: inline;
}

#fs-frm fieldset.locale input[name="city"] {
    width: 52%;
}

#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
    width: 20%;
}

#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
    margin-right: 3%;
}

/* END AUTO GENERATED CODE BY FORMSPREE */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 0.9fr 1.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "formspree phone"
        "formspree email"
        "formspree adress";
}

.formspree {
    grid-area: formspree;
    border-right: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.5px;
    padding: 20px;
}

.phone {
    grid-area: phone;
    border-bottom: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.5px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
    color: white;
}

.email {
    grid-area: email;
    border-bottom: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.5px;
    align-items: center;
    padding-top: 40px;
    color: white;
}

.adress {
    grid-area: adress;
    align-items: center;
    padding-top: 40px;
    color: white;
}

.phone a,
.email a,
.adress a {
    text-decoration: none;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white
}

footer a {
    text-decoration: none;
    color: #00FFFF;
}

@media screen and (min-width:1024px) {
    #personal-links {
        margin-right: 5vh;
        margin-left: 5vh;
        padding-right: 15px;
        padding-left: 15px;
    }

    .float-box {
        margin-right: 5vh;
        margin-left: 5vh;
    }

    #content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding-left: 5vh;
        padding-right: 5vh;
    }

    .container {
        position: relative;
        width: 28%;
        justify-content: space-around;
        height: auto;
        margin-bottom: 20px;
        border-radius: 2%;
        margin: 0;
    }

    .image {
        width: 100%;
        height: 60vh;
    }

    #contact {
        padding-right: 24vh;
        padding-left: 24vh;
    }

}

@media screen and (max-width:1024px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 95vh;
        top: 5vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0%;
    }

    .burger {
        display: block;
    }

    .float-box p {
        font-size: 14px;
    }

    #white-boxes h1 {
        text-align: center;
        font-weight: bold;
    }

    #white-boxes h2 {
        font-weight: bold;
        font-size: 16px;
        padding-bottom: 8px;
    }

    .table-wrapper table {
        font-size: 14px;
        width: 100%;
    }
}

.nav-active {
    transform: translateX(0%);
    display: flex;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(+45deg) translate(-5px, -6px);
}

.float-box {
    transform: translateX(150px);
    animation: come-in 0.5s ease forwards, fade-in 1s ease forwards;
}


@keyframes come-in {
    to {
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#personal-links,
#content {
    transform: translateY(150px);
    animation: come-in 1s ease forwards, fade-in 1s ease forwards;
    ;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}